*{
    box-sizing:border-box;
}
body,html{
    margin:0;
}
.wrapper{
    display:flex;
    height:100vh;
    width:100vw;
}

.coffeeImg{
    display:flex;
    justify-items: flex-end;
    height:
    ;
    width:80vw;
    background-image: url(coffee.jpg);
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center;
}


.ja{

    font-size:7em;

}
.va{

    font-size:7em;
}

.navbar{
    background:black;
}

.navbar a{
    text-decoration:none;
    color:white;
}