
*{
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    margin:0;
    padding:0;
}

    html{
        scroll-behavior: smooth;
        height:100%;
        width:100%;
    }
    body, .slide{
        height:100vh;
        width:100%;
        padding:0;
    }
    body{
        position: relative;
        margin:0;
        padding:0;
        height:100%;
        width:100%;
        /* overflow:hidden; */
    }

/* .content{
    visibility: hidden;
} */
.contentBody{
    margin:0 5em;
}

.overlay{
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    height:100%;
    width:100%;
    margin:0;
    -webkit-box-pack:space-evenly;
        -ms-flex-pack:space-evenly;
            justify-content:space-evenly;
    -webkit-box-align:center;
        -ms-flex-align:center;
            align-items:center;
    position:absolute;
  }
  
  .landPageLetters{
    height:80%;
    width:20%;
    opacity:0;
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-pack:center;
        -ms-flex-pack:center;
            justify-content:center;
    -webkit-box-align:center;
        -ms-flex-align:center;
            align-items:center;
    color:white;
    font-size:5em;
  }
  
  .overlay{
    position:absolute;
    height:100%;
    width:100%;
    background:rgba(0,0,0,0.9);
    z-index:1;
    visibility:hidden;
    -webkit-transform: translateY(-100%);
        -ms-transform: translateY(-100%);
            transform: translateY(-100%);
  }
  
  .overlayContainer{
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    position:fixed;
    top:0;
    height:100%;
    width:100%;
    margin:0;
    -webkit-box-pack:space-evenly;
        -ms-flex-pack:space-evenly;
            justify-content:space-evenly;
    background-image:url('imgs/landingpage4.jpeg');
    background-size:cover;
    background-blend-mode: color;
    background-color:rgba(0,0,0,0.7);
    -webkit-box-align:center;
        -ms-flex-align:center;
            align-items:center;
    font-family: Open Sans Condensed;
    z-index:100;
  }

  .enterButton{
    position:absolute;
    font-family: "Open Sans Condensed";
    z-index:2;
    padding:1.2em 2em;
    border-radius:3px;
    font-size:1em;
    border:1px solid white;
    -webkit-transition:.2s ease;
    -o-transition:.2s ease;
    transition:.2s ease;
    opacity:0;
  }

  .enterButton:focus{outline:0}

  .enterButton:hover{
    -webkit-transform:scale(1.1);
        -ms-transform:scale(1.1);
            transform:scale(1.1);
    cursor:pointer;
    letter-spacing:.1em;
  }
   

    
    /* SlideShow */
    .slides{
        padding:0;
        overflow-x:hidden;
        width:100%;
    }
    .slide{
        background-size: cover;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        position:absolute;
        -webkit-transition: ease;
        -o-transition: ease;
        transition: ease;
        -webkit-transition-duration: .7s;
             -o-transition-duration: .7s;
                transition-duration: .7s;
        height:100%;
        font-family: "Staatliches";
        letter-spacing:0.2em;
    }
    .slide h1{
        color:white;
        padding:3px;
    }

    .slider-1{
        background-image: url('imgs/coffee1.jpeg');

    }
    .slider-2{
        background-image: url('imgs/coffee2.jpeg');

    }
    .slider-3{
        background-image: url('imgs/coffee3.jpeg');
    }
    .slider-4{
        background-image: url('imgs/coffee4.jpeg');
    }
    .slider-5{
        background-image: url('imgs/coffee5.jpeg');
    }
    
    .slides{
        position: relative;
        height:50vh;
    }

    .right{
        -webkit-transform: translateX(100%);
            -ms-transform: translateX(100%);
                transform: translateX(100%);
        position: absolute;
        top:46.9%;
        right:0;
        padding-right:.8em;
        -webkit-transition: ease-in-out;
        -o-transition: ease-in-out;
        transition: ease-in-out;
        -webkit-transition-duration: .3s;
             -o-transition-duration: .3s;
                transition-duration: .3s;
        cursor:pointer;
    }


    .left{
        -webkit-transform: translateX(-100%);
            -ms-transform: translateX(-100%);
                transform: translateX(-100%);
        position: absolute;
        top:46.9%;
        left:0;
        padding-left:.8em;
        -webkit-transition: ease-in-out;
        -o-transition: ease-in-out;
        transition: ease-in-out;
        -webkit-transition-duration: .3s;
             -o-transition-duration: .3s;
                transition-duration: .3s;
        cursor:pointer;
    }
    .showArrow{
        -webkit-transform: translateX(0);
            -ms-transform: translateX(0);
                transform: translateX(0);
    }
    .showImg{
        opacity:1;

    }
    .hideImg{
        opacity:0;
    }
    .java{
        display:inline-block;
        font-size:5em;
        border: 4px solid white;
        padding: 0 .3em;
        line-height: 1em;
        color:white;
        -webkit-transform: translateX(.5em);
            -ms-transform: translateX(.5em);
                transform: translateX(.5em);
        margin-top:.3em;
    }

    .codingCafe{
        color:white;
        font-weight: lighter;
        -webkit-transform: translateX(100px);
            -ms-transform: translateX(100px);
                transform: translateX(100px);
    }

/* NAVIGATION */

    .navbar {
    background: black;
    top: 0;
    width: 100%;
    height:3rem;
    -webkit-transition:all 1s ease;
    -o-transition:all 1s ease;
    transition:all 1s ease;
    position: relative;
    z-index: 1;
    z-index:1;
    position:relative;
    }

    .fixed-nav .navbar {
    position: fixed;
    z-index:10;
    -webkit-box-shadow: 0 5px 0 rgba(0,0,0,0.1);
            box-shadow: 0 5px 0 rgba(0,0,0,0.1);
    }

    .navbar ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height:100%;
    }

    .navbar li {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    }

    .navbar a:hover{
        letter-spacing: 1px;
    }
    .navbar a{
        text-decoration: none;
        color:white;
        font-family: "Staatliches";
        font-weight:lighter;
        -webkit-transition: .3s ease;
        -o-transition: .3s ease;
        transition: .3s ease;
    }

    li.logo {
    max-width:0;
    overflow: hidden;
    background: white;
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
    font-weight: 600; 
    font-size: 30px;
    z-index:100;
    height:3rem;
    }
    .logo a{
        color:black;
    }

    .fixed-nav li.logo {
    max-width: 500px;
    }
/* MENU */

.menuChoice h1{
    -ms-flex-preferred-size:100%;
        flex-basis:100%;
}

    .menuChoice{
        display:-webkit-box;
        display:-ms-flexbox;
        display:flex;
        -webkit-box-pack: space-evenly;
            -ms-flex-pack: space-evenly;
                justify-content: space-evenly;
        -webkit-box-shadow: 0 9px 38px rgba(0,0,0,0.30), 0 8px 10px rgba(0,0,0,0.22);
                box-shadow: 0 9px 38px rgba(0,0,0,0.30), 0 8px 10px rgba(0,0,0,0.22);
        border-radius:6px;
        font-family:"Staatliches";
        margin:8em auto 4em;
        width:55%;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        padding:2em;
        border-left: 1em solid;
    }
    .menuChoice span{
        padding:0 1em;
    }
    .choice{
        display:-webkit-box;
        display:-ms-flexbox;
        display:flex;
        place-items: center;
        background-color: #161616;;
        padding: 1em 2em;
        border-radius: 8px;
        cursor: pointer;
        -webkit-transition: .3s ease;
        -o-transition: .3s ease;
        transition: .3s ease;
    }
    .choice:hover{
        background-color: white;
        -webkit-box-shadow: inset 0px 1px 5px 0px black;
                box-shadow: inset 0px 1px 5px 0px black;
    }
    
    .choice a{
        text-decoration: none;
        color:white;
        letter-spacing: 1.5px;
    }
    .choice:hover a{
        color:black;
    }


    .menuImgContainer{
        position:relative;
        /* display: flex; */
        outline:none;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        color: white;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
    }

    .menuImg{
        max-height:200px;
        border-radius:50%;
        -webkit-transition: all .3s ease;
        -o-transition: all .3s ease;
        transition: all .3s ease;
    }
    .menuImgContainer:hover .menuImg{
        -webkit-transform: scale(1.1);
            -ms-transform: scale(1.1);
                transform: scale(1.1);
        cursor: pointer;
        -webkit-box-shadow: -1px 1px 17px black;
                box-shadow: -1px 1px 17px black;
    }

    .menuImgContainer .name{
        position: absolute;
        color:white;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%,-50%);
            -ms-transform: translate(-50%,-50%);
                transform: translate(-50%,-50%);
        font-family:'Open Sans';
        font-weight:400;
        padding: .1em .2em;
        pointer-events: none;
    }
    

/* active class for menu */
    .menu.active .menuImgContainer {
        opacity:.3;
        -webkit-transform:scale(1.1);
            -ms-transform:scale(1.1);
                transform:scale(1.1);
        -webkit-filter:blur(5px);
                filter:blur(5px);
    }
    
    .menu .menuImgContainer.active {
        opacity:1;
        -webkit-transform:scale(1);
            -ms-transform:scale(1);
                transform:scale(1);
        -webkit-filter:blur(0);
                filter:blur(0);
    }


/* COLD MENU */
    .coldMenu{
        display:none;
        opacity:0.1;
        /* display:flex; */
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
        -webkit-box-pack: space-evenly;
            -ms-flex-pack: space-evenly;
                justify-content: space-evenly;
        padding:0;
    }

/* HOT MENU */
    .hotMenu{
        display:none;
        /* display:flex; */
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
        -webkit-box-pack: space-evenly;
            -ms-flex-pack: space-evenly;
                justify-content: space-evenly;
        padding:0;
    }

    .menu{
        margin:0 1em;
    }
/* ABOUT SECTION */
   

    .aboutContent{
        display:-webkit-box;
        display:-ms-flexbox;
        display:flex;
        -webkit-box-pack: space-evenly;
            -ms-flex-pack: space-evenly;
                justify-content: space-evenly;
        margin: 0 -5em;
        background: #000000e8;
        height:200vh;
        overflow-x: hidden;
    }


    .aboutContainer{
        position:relative;
        height:100%;
        width:70%;
    }

    .aboutSection{
        background-size:cover;
        background-repeat: no-repeat;
        background-blend-mode: color;
        background-color:rgba(0,0,0,0.5);
        height:30%;
        margin-bottom:1em;
        color:white;
        display:-webkit-box;
        display:-ms-flexbox;
        display:flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-pack:center;
            -ms-flex-pack:center;
                justify-content:center;
        border-radius:3px;
    }
    
    .aboutSection h2{
        -ms-flex-item-align:center;
            -ms-grid-row-align:center;
            align-self:center;
        padding-bottom:1em;
        font-family:"Open Sans";
    }

    .aboutSection p{
        width:50%;
        font-family:"Lato";
    }

    .learn{
        background-image:url('imgs/landingpage3.jpeg');
        position: relative;
    }

    .aboutContent h1{
        opacity:0;
        position:absolute;
        font-family:"Open Sans";
        font-size:5em;
    }

    .learn h1{
        -webkit-transform:translateX(-3em);
            -ms-transform:translateX(-3em);
                transform:translateX(-3em);
        -ms-transform: rotate(-90deg);
            transform: rotate(-90deg);
        -webkit-transform: rotate(-90deg);
        top:1.5em;
        left:-2em;
    }

    .learn h2{
        margin-left:5em;
    }

    .learn p{
        -ms-flex-item-align: end;
            align-self: flex-end;
    }

    .collaborate{
        background-image:url('imgs/collab.jpeg');
        background-position-x: 50%;
        position:relative;
    }

    .collaborate h1{
        -webkit-transform: rotate(90deg);
        position:absolute;
        color:white;
        font-family:"Open Sans";
        top:2em;
        right: -2.3em;
    }

    
    .collaborate h2{
        -ms-flex-item-align: start;
            align-self: flex-start;
        padding-left:1em;
    }

    .collaborate p{
        -ms-flex-item-align: start;
            align-self: flex-start;
        padding-left:3em;
    }

    .enjoy{
        background-image: url('imgs/enjoy.jpeg');
        position:relative;
    }

    .enjoy h1{
        -webkit-transform: rotate(-90deg);
            -ms-transform: rotate(-90deg);
                transform: rotate(-90deg);
        left: -1.9em;
        top: 1.7em;
    }

    .enjoy h2{
        margin-left:9em;
    }

    .enjoy p{
        -ms-flex-item-align: end;
            align-self: flex-end;
    }

    
/* SCROLLBAR     */
    ::-webkit-scrollbar-track
    {
        -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
        border-radius: 10px;
        background-color: #F5F5F5;
    }

    ::-webkit-scrollbar
    {
        width: 11px;
        background-color: #F5F5F5;
    }

    ::-webkit-scrollbar-thumb
    {
        border-radius: 10px;
        background-color:black
    }
/* MEDIA QUERIES    */

    @media(max-width:800px){
        .content{
            margin:0;
        }
        .menuChoice{
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
                -ms-flex-direction: column;
                    flex-direction: column;
            width:90%;
        }
        .menuChoice h1{
            padding-bottom:.8em;
        }
        .menu{
            -webkit-box-orient:vertical;
            -webkit-box-direction:normal;
                -ms-flex-direction:column;
                    flex-direction:column;
            -webkit-box-align: center;
                -ms-flex-align: center;
                    align-items: center;
        }


    }

    @media(max-width:1340px){
        .aboutContent{
            padding-top: 2em;
        }
    }

    @media(max-width:790px){
        .aboutSection h1{
            font-size:3.5em;
        }

        .enjoy h1{
            left: -1.8em;
        }

        .enjoy h2{
            margin-left: 3em;
        }

        .collaborate h1{
            right: -8.5rem;        
        }
        
        .collaborate p{
            padding-left: .8em;
        }

        .aboutSection p{
            width:95%;
        }

        .aboutContent{
            padding-top: 2em;
        }
    }
    
    

      